body {
    color: white;
    &:after{
        content: "";
        background: url('../src/images/background.jpg');
        opacity: 0.5;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.center {
    text-align: center;
}

.mr-2 {
    margin-right: 2px;
}

.main {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,35,100,1) 35%, rgba(0,212,255,1) 100%); 
}

.tile {
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    height: 100px;
    &:hover {
        border-style: solid;
    }
}

.card-container form {
    margin: 5px;
}
