<div class="col-md-12">
        <div class="card card-container">
          <form
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="FirstName"
              [(ngModel)]="form.firstName"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
              placeholder="First name"
            />
            <!-- <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
            </div> -->
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="LastName"
              [(ngModel)]="form.lastName"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
              placeholder="Last name"
            />
            <!-- <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
            </div> -->
          </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.userName"
                required
                minlength="3"
                maxlength="20"
                #username="ngModel"
                placeholder="Username"
              />
              <div class="alert-danger" *ngIf="f.submitted && username.invalid">
              </div>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="Email"
                [(ngModel)]="form.email"
                required
                email
                #email="ngModel"
                placeholder="Email"
              />
              <!-- <div class="alert-danger" *ngIf="f.submitted && email.invalid">
              </div> -->
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                name="Password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
                placeholder="Password"
              />
              <!-- <div class="alert-danger" *ngIf="f.submitted && password.invalid">
              </div> -->
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Sign Up</button>
            </div>
      
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Signup failed!<br />{{ errorMessage }}
            </div>
          </form>
      
          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
        </div>
      <!-- </div>
    </div> -->